* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

body{
  overflow-x:hidden;
}

nav{
  width:100vw;
  display: flex;
  justify-content: space-between;
  padding:30px 60px
}

p, h3{
  color:var(--primary-color);
  margin: 15px 0px;
}

p{
  font-weight: 300;
  line-height: 20px;
}

div ul a{
  margin-top: 30px;
}

li{
  list-style-type:none;
  padding-bottom: 40px;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--ternary-color); 
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--quaternary-color); 
}

a {
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

#carouselImage{
  height:200px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  padding: 0 25px
}

#testOnImageHere{
  background-color: rgba(16,46,53,0.5);
  padding: 10px;
  margin: 0 50px;
  font-weight: 300;
  color:var(--primary-color)
}

.carouselArrow{
  width: 40px;
}

h5{
  font-size: 16px;
  color: rgb(159, 49, 49);
  padding-top: 20px
}

label{
  color: var(--primary-color);
  padding: 7px 0px;
}

@media (max-width:1000px){
  nav{
    padding: 60px 85px
  }

  li{
    padding-bottom: 30px;
  }
}

@media (max-width:600px){
  nav{
    padding: 60px 45px
  }

  #carouselImage{
    width:86vw;
    padding: 0
  }
}
